src/conf/xml-resources/web-service-references/ProductosWS/wsdl/localhost_8080/HibernateServer/ProductosWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.service.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.service.cl/" name="ProductosWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.service.cl/" schemaLocation="http://localhost:8080/HibernateServer/ProductosWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getAll">
<part name="parameters" element="tns:getAll"/>
</message>
<message name="getAllResponse">
<part name="parameters" element="tns:getAllResponse"/>
</message>
<message name="IngresarProducto">
<part name="parameters" element="tns:IngresarProducto"/>
</message>
<message name="IngresarProductoResponse">
<part name="parameters" element="tns:IngresarProductoResponse"/>
</message>
<message name="SearchProduct">
<part name="parameters" element="tns:SearchProduct"/>
</message>
<message name="SearchProductResponse">
<part name="parameters" element="tns:SearchProductResponse"/>
</message>
<portType name="ProductosWS">
<operation name="getAll">
<input wsam:Action="http://webservices.service.cl/ProductosWS/getAllRequest" message="tns:getAll"/>
<output wsam:Action="http://webservices.service.cl/ProductosWS/getAllResponse" message="tns:getAllResponse"/>
</operation>
<operation name="IngresarProducto">
<input wsam:Action="http://webservices.service.cl/ProductosWS/IngresarProductoRequest" message="tns:IngresarProducto"/>
<output wsam:Action="http://webservices.service.cl/ProductosWS/IngresarProductoResponse" message="tns:IngresarProductoResponse"/>
</operation>
<operation name="SearchProduct">
<input wsam:Action="http://webservices.service.cl/ProductosWS/SearchProductRequest" message="tns:SearchProduct"/>
<output wsam:Action="http://webservices.service.cl/ProductosWS/SearchProductResponse" message="tns:SearchProductResponse"/>
</operation>
</portType>
<binding name="ProductosWSPortBinding" type="tns:ProductosWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="IngresarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductosWS">
<port name="ProductosWSPort" binding="tns:ProductosWSPortBinding">
<soap:address location="http://localhost:8080/HibernateServer/ProductosWS"/>
</port>
</service>
</definitions>