web/WEB-INF/wsdl/localhost_8080/HibernateServer/ProductosWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservices.service.cl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices.service.cl/">

<xs:element name="IngresarProducto" type="tns:IngresarProducto"/>

<xs:element name="IngresarProductoResponse" type="tns:IngresarProductoResponse"/>

<xs:element name="SearchProduct" type="tns:SearchProduct"/>

<xs:element name="SearchProductResponse" type="tns:SearchProductResponse"/>

<xs:element name="getAll" type="tns:getAll"/>

<xs:element name="getAllResponse" type="tns:getAllResponse"/>

<xs:complexType name="IngresarProducto">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:float"/>
<xs:element name="quantity" type="xs:int"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IngresarProductoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SearchProduct">
<xs:sequence>
<xs:element name="cod" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SearchProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>